.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}
.tallCard {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
